<h1> <%= @brand.brandname %> </h1>
<br>

<!-- Brand Details -->
<h4> Brand Price:  <%= @brand.currency_format %> </h4>
<br>
<h4>Stores That Sell <%= @brand.brandname %> :  </h4>
<ul>
  <% @brand.stores.each do |store| %>
  <li> <%= store.storename %> </li>
  <% end %>
</ul>

<!-- Update the Brand Name and/or Brand Price-->
<h1>Update the <%= @brand.brandname %> Brand</h1>
<br>

<form action="/brands/<%= @brand.id %>" method="post">

  <input type="hidden" name="_method" value="patch">

  <input type="hidden" name="brand_id" value="<%= @brand.id() %>">

  <label for="brandname">Rename Brand : </label>
  <input type="text" name="brandname">

  <label for="price">Update Brand Price : $</label>
  <input type="text" name="price">

  <button class="btn btn-default" type="submit">Update Brand</button>
</form>
<br><br><hr>


<!-- Delete this Brand -->
<form action="/brands/<%= @brand.id %>" method="post">

  <input type="hidden" name="_method" value="delete">

  <input type="hidden" name="brand_id" value="<%= @brand.id() %>">

  <button class="btn btn-danger" type="submit">Delete This Brand</button>
</form>
