<h1> <%= @store.storename %> </h1>

<!-- Store Details -->
<h3>Brands at the <%= @store.storename %> Store:</h3>

<% if @store.brands == [] %>
  <p>There are currently no brands saved to this store.</p>
<% else %>
  <table class="table">
     <thead>
       <tr>
         <th>Brand</th>
         <th>Price</th>
       </tr>
     </thead>
     <tbody>
       <% @store.brands.each do |brand| %>

         <tr>
           <td><a href="/brands/<%= brand.id() %>"><%= brand.brandname %></a></td>
           <td><%= brand.currency_format %></td>
         </tr>

       <% end %>
     </tbody>
   </table>
<% end %>
<hr>

<!-- Add a Brand to this Store -->
<h1>Add a Brand to the <%= @store.storename %> Store</h1>

<form action="/stores/<%= @store.id %>" method="post">

  <input type="hidden" name="store_id" value="<%= @store.id() %>">

  <label for="brand">Select Brand:</label>
  <select name="brand">
    <option value=""></option>
    <% @list_brands.each() do |brand| %>
      <option value="<%= brand.id() %>"><%= brand.brandname %></option>
    <% end %>
  </select>

  <button class="btn btn-default" type="submit">Add Brand to <%= @store.storename %> Store</button>
</form>

<!-- Update the Store Name -->
<h1>Update the <%= @store.storename %> Store</h1>

<form action="/stores/<%= @store.id %>" method="post">

  <input type="hidden" name="_method" value="patch">

  <input type="hidden" name="store_id" value="<%= @store.id() %>">

  <label for="storename">Rename Store:</label>
  <input type="text" name="storename">

  <button class="btn btn-default" type="submit">Update Store Name</button>
</form>
